.topdiv{
    height: 400px;
    background-color: white;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 40px;

    /* width: ; */
}
.mount-pic{
    height: 400px;
    width: 820px;
    border-radius: 10px;
}
.flower{
    height: 195px;
    width: 359px;
    position: absolute;
    margin-top: 0;
    border-radius: 10px;
    margin-left: 10px;

    
}
.flower-2{
    height: 195px;
    width: 359px;
    border-radius: 10px;
    margin-left: 10px;

    /* position: absolute; */
    /* margin-top: 0; */
}

